body {
    margin: 15pt;
}

h1 {
    text-align: left;
    font-family: semplicitapro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30pt;
    margin-top: 0px;
    margin-bottom: 10px;
}

img {
    width: 100%;
    display: block;
    margin: 0;
}

p {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-style: normal;
    font-size: 10pt;
    margin: 0;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:active {
    color:black
}

ul {
    list-style-type: none;
    margin: 0pt;
    padding: 0pt;
    font-family: "IBM Plex Mono";
    font-size: 8pt;
}

.homepage_container {
    display: grid;
    margin: 0pt;
    grid-template-columns: 230px auto;
}

.homepage_header {
    grid-column: 1 / span 2;
}

.project_button {
    padding: 0;
    border: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 10pt;
    cursor: pointer;
    display: inline-block;
}

.project_button_click {
    font-weight: 600;
}

.project_button:hover{
    font-weight: 600;
}

.homepage_project {
    position: relative;
    display: block;
}

.project_dropdown_content{
    margin-left: 5%;
    margin-bottom: 0;
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

.project_dropdown_content a:hover {
    font-weight: 600;
}

.project_dropdown_content a{
    display: block;
}

.homepage_navigation {
    font-size: 10pt;
    font-family: semplicitapro, sans-serif;
    font-weight: 400;
}

.homepage_about:hover {
    font-weight: 600;
}

.show {
    max-height: 200px;
    margin-bottom: 5%;
    margin-top: 2%;
}

.fade-in-image {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-zoom-animation: fadeIn 3s;
}

.content_container {
    position: static;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.about_container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.about_header {
    grid-column: 1 / span 2;
}

.about_description {
    position: static;
    margin: 3vw 30px 30px 30px;
    text-align: justify;
    width: 30vw
}

#about_image {
    display: block;
    width: 30vw;
    margin-left: auto;
    margin-top: 3vw;
    margin-right: 0;
}

@media screen and (width >= 2000px) {
    p {
        font-size: 12pt;
    }
}