body {
    margin: 20px;
}

h1 {
    text-align: left;
    font-family: semplicitapro, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30pt;
    margin-top: 0px;
    margin-bottom: 10px;
}

h2 {
    text-align: left;
    font-family: semplicitapro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26pt;
    margin-top: 20px;
    margin-bottom: 5px;
}

img {
    width: 100%;
    display: block;
    margin: 0;
}

p {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 10pt;
    margin: 0;
    text-align: justify;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:active {
    color:black
}

ul {
    list-style-type: disc;
    text-align: left;
    margin: 1%;
    padding-left: 5%;
    font-family: "IBM Plex Mono", monospace;
    font-size: 10pt;
}

code {
    display: block;
    margin: 20px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 10pt;
    text-align: center;
}

table, th, td{
    width: 100%;
    border: 1px solid;
    text-align: center;
    font-family: "IBM Plex Mono";
    border-collapse: collapse;
}

footer {
    font-family: semplicitapro, sans-serif;
    font-weight: 500;
    font-size: 20pt;
    font-style: normal;
    display: block;
    bottom: 0;
    width: 100vw;
    padding: 20px 0 0 0;
    height: 50px;
    position: fixed;
    text-align: left;
    background-color: white;
}

.homepage_container {
    display: grid;
    margin: 0pt;
    grid-template-columns: 230px auto;
}

.homepage_header {
    grid-column: 1 / span 2;
    height: 75px;
    width: 95vw;
}

.project_button {
    padding: 0;
    border: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 10pt;
    cursor: pointer;
    display: inline-block;
}

.project_button_click {
    font-weight: 600;
}

.project_button:hover{
    font-weight: 600;
}

.homepage_project {
    position: relative;
    display: block;
}

.project_dropdown_content{
    margin-left: 5%;
    margin-bottom: 0;
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

.project_dropdown_content a:hover {
    font-weight: 600;
}

.project_dropdown_content a{
    display: block;
}

.homepage_navigation {
    font-size: 10pt;
    font-family: semplicitapro, sans-serif;
    font-weight: 400;
}

.homepage_about:hover {
    font-weight: 600;
}

.show {
    max-height: 200px;
    margin-bottom: 5%;
    margin-top: 2%;
}

.fade-in-image {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-zoom-animation: fadeIn 3s;
}

.content_container {
    display: block;
    position: relative;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.burger-menu{
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.about_container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.about_header {
    grid-column: 1 / span 2;
}

.about_description {
    position: static;
    margin: 30px 30px 30px 30px;
    text-align: justify;
    width: 30vw;
    height: 30vw;
}

#about_image {
    width: 30vw;
    margin-left: auto;
    margin-top: 30px;
}

#about_paragraph {
    font-size: 1.4vw;
}

.project1-hyperlink {
    font-weight: 600;
}

.project1-nav-bar {
    grid-row: 1 /span 2;
    font-size: 10pt;
}

.project1-body-container {
    display: grid;
    grid-template-columns: 200px auto;
}

.project1-content {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    text-align: center;

}

.project1-image {
    margin-top: 30px;
    margin-bottom: 30px;
}

#project1-rock-img {
    width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#project1-header {
    text-align: center;
}

@keyframes fadeRotate1 {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }

    40% {
        opacity: 0;
        transform: rotate(0deg);
    }

    60% {
        opacity: 0;
        transform: translate(0, 15px) rotate(45deg);
    }

    100% {
        opacity: 1;
        transform: translate(0, 15px) rotate(45deg);
    }

}

@keyframes fadeRotate2 {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }

    40% {
        opacity: 0;
        transform: rotate(0deg);
    }

    60% {
        opacity: 0;
        transform: translate(0, -15px) rotate(-45deg);
    }

    100% {
        opacity: 1;
        transform: translate(0, -15px) rotate(-45deg);
    }
}

@media screen and (width <= 900px) {

    .homepage_container {
        grid-template-columns: auto;
    }

    .homepage_header {
        width: 100%;
        position: fixed;
        top: 25px;
    }

    .homepage_navigation {
        position: fixed;
        left: 25px;
        top: 80px;
        width: 100vw;
        height: 100vw;
        opacity: 0%;
        background-color: white;
        transition: opacity 0.5s ease-in-out;
    }

    .homepage_navigation.active {
        opacity: 100%;
        transition-delay: 0.5s;
    }

    .content_container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95vw;
        margin-top: 30vw;
        z-index: -1;
    }

    footer {
        text-align: right;
        width: 95vw;
    }

    .burger-menu {
        display: block;
        position: fixed;
        width: 50px;
        height: 35px;
        top: 30px;
        right: 30px;
        z-index: 2;
    }

    .burger-menu a {
        text-decoration: none;
    }

    .burger-menu.active .burger-icon {
        opacity: 0%;
    }

    .burger-menu.active .cross-icon {
        opacity: 100%;
        transition-delay: 0.6s;
    }

    .burger-menu:not(.active) .burger-icon {
        transition-delay: 0.6s;
    }

    .burger-menu:hover {
        cursor: pointer;
    }

    .burger-icon {
        position: absolute;
        left: 5px;
        transition: opacity 0.5s ease-in-out;
    }

    .cross-icon {
        position: absolute;
        left: 5px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .burger-line {
        display: block;
        position: relative;
        background-color: black;
        width: 40px;
        height: 5px;
        margin: 0 auto 10px auto;
    }

    .cross-line {
        display: block;
        position: absolute;
        top: 15px;
        background-color: black;
        width: 40px;
        height: 5px;
        transform-origin: center;
    }

    .cross-line:first-child {
        transform: rotate(45deg);
    }

    .cross-line:last-child {
        transform: rotate(-45deg);
    }
}